body{
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.project-card{
  height: 400px;
  width: 300px;
  border: 1px solid black;
  margin:  50px 25px;
  &-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-weight: 600;
}
}

